@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body,
html,
#app {
  font-family: "Montserrat", sans-serif;
}



.v-subheader {
  height: 18px;
  font-weight: 600;
  
}

